@import "nib"
global-reset()
@import "_mixin/sprite"
@import "_mixin/rsprite"

.attachment
  sprite($attachment)

.r-attachment
  r-sprite($attachment)

.chat
  sprite($chat)

.r-chat
  r-sprite($chat)

.connect
  sprite($connect)

.r-connect
  r-sprite($connect)

.user
  sprite($user)

.r-user
  r-sprite($user)
